<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] | ExpenseTracker</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/ET_Favicon.png">
    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link href="~/assets/css/colors.css" rel="stylesheet">

</head>
<body>
    <header id="masthead" class="site-header site-header-fill">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a asp-action="Index" asp-controller="Home" class="site-title yellow-text">Expense<span class="white-text">Tracker</span></a>
                </div><!-- /.navbar-header -->
                <div class="main-menu" id="Tracker-navbar-collapse">
                    <ul id="main-nav-ul" class="nav navbar-nav navbar-right">
                        <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <partial name="_LoginPartial" />

                    </ul><!-- /.navbar-nav -->
                </div><!-- /.navbar-collapse -->

            </div>

        </nav><!-- /.site-navigation -->

    </header><!-- /#masthead -->
    <main id="main" class="site-main">
        <section class="site-section-small section-portfolio-item">
            <div class="container">
                @RenderBody()
            </div>
        </section><!-- /.social-networks -->
    </main><!-- /.site-main -->


    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="email">
                <a href="mailto:hello@ExpenseTracker.com">hello@ExpenseTracker.com</a>
            </div><!-- /.email -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="mb-xs-20">
                        <a asp-action="Index" asp-controller="Home" class="site-title yellow-text">Expense<span>Tracker</span></a>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    </div>

                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="mb-xs-20">
                        <h4 class="small-title">Get in touch</h4>
                        <ul class="list-unstyled">
                            <li>Phone: <a href="tel:+15417543010">+1-541-754-3010</a></li>
                            <li>Email: <a href="mailto:hello@ExpenseTracker.com">hello@ExpenseTracker.com</a></li>
                            <li>Fax: <a href="tel:+15417543010">+1-541-754-3010</a></li>
                        </ul><!-- /.list-unstyled -->
                    </div>

                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="mb-xs-20">
                        <h4 class="small-title">Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul><!-- /.list-unstyled -->
                    </div>

                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="mb-xs-20">
                        <h4 class="small-title">Location</h4>
                        <ul class="list-unstyled">
                            <li>ExpenseTracker</li>
                            <li>848 Boston Street Hayward,</li>
                            <li>CA 94544</li>
                        </ul><!-- /.list-unstyled -->
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright">
            <p>&copy;  @DateTime.Now.Year ExpenseTracker | Made by <a href="https://milansavov.com/" class="yellow-text">Milan Savov</a></p>
        </div><!-- /.copyright -->

    </footer><!-- /.site-footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>

        // Get the container element
        var listContainer = document.getElementById("main-nav-ul");

        // Get all buttons with class="btn" inside the container
        var lists = listContainer.getElementsByClassName("nav-item");

        // Loop through the buttons and add the active class to the current/clicked button
        for (var i = 0; i < lists.length; i++) {
            lists[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");

                // If there's no active class
                if (current.length > 0) {
                    current[0].className = current[0].className.replace(" active", "");
                }

                // Add the active class to the current/clicked button
                this.className += " active";
            });
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>