@model IEnumerable<AppUser>
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="yellow-bg m-1 text-white" style="padding:10px;"><h4>User Accounts</h4></div>
<a class="btn btn-dark" asp-action="Deactivated" style="float:right;">Deactivated users</a>
<br />
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Role</th><th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
    }
    else
    {
        foreach (AppUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @{ var appUser = await UserManager.FindByIdAsync(user.Id);
                        var role = await UserManager.GetRolesAsync(appUser);}
                    @{foreach (var item in role.ToList())
                        {
                            @item
                        } }
                </td>
                <td>
                    @*<form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="Edit"
                               asp-route-id="@user.Id">Edit</a>
                            <button type="submit"
                                    class="btn btn-sm btn-danger">
                                Deactivate
                            </button>

                        </form>*@
                    <a class="btn btn-sm btn-yellow" asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a id="deleteItem-@user.Id" data-target="#myModal-@user.Id" class="btn btn-sm btn-danger trigger-btn" data-toggle="modal" data-whatever="@user.Id">Deactivate</a>
                    <!-- Modal HTML -->
                    <div id="myModal-@user.Id" class="modal fade">
                        <div class="modal-dialog modal-confirm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="icon-box">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <h4 class="modal-title">Are you sure?</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to deactivate this User?</p>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" method="post">
                                        <input type="hidden" name="id" value="@user.Id" />
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <input type="submit" value="Deactivate" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
</table>
<a class="btn btn-yellow" asp-action="Create">Create</a>
