@model List<Expense>
@inject IExpenseCategoryService Categories
@{
    ViewData["Title"] = "Expenses";
}
@{
    DateTime currentEnd = ViewBag.CurrentEnd;
    DateTime previousEnd = ViewBag.PreviousEnd;
    string previousEndString = previousEnd.ToString();
    DateTime nextEnd = ViewBag.NextEnd;
    string nextEndString = nextEnd.ToString();
    string currentEndString = currentEnd.ToString();
    string dateTimeNowString = DateTime.Now.ToString();
}
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<a class="btn btn-yellow" asp-action="AddExpenses">Add New Expense</a> |
<a class="btn btn-yellow" asp-action="ExpensesInsights">Get Insights from your Expenses</a> |
<a class="btn btn-yellow" asp-action="Create" asp-controller="Reminder">Set a reminder to input your Expenses</a><br /><br />
@*<form method="post">
    
            <div class="row">
                <div class="col-md-12">

                    <div class="input-daterange datepicker row align-items-center">
                        <label class="col-md-2 col-form-label form-control-label">Date Range:</label>
                        <div class="input-group col-md-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control" placeholder="Start date" name="startDate" type="text" value="" required>
                        </div>
                        <label class="col-form-label form-control-label">To:</label>
                        <div class="input-group col-md-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input class="form-control" placeholder="End date" name="endDate" type="text" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-2 offset-10">
                            <input class="btn btn-yellow form-control" type="submit" value="Filter" />
                        </div>
                    </div>
                </div>
            </div>
</form>

<div class="input-daterange datepicker row align-items-center">
    <div class="col">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control" placeholder="Start date" type="text" value="06/18/2019">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control" placeholder="End date" type="text" value="06/22/2019">
            </div>
        </div>
    </div>
</div>*@
<div class="table-responsive py-4" style="margin-top:20px;">
    <table id="myTable" class="table table-striped table-flush table-bordered">
        <thead>
            <tr>
                <th>
                    S/N
                </th>
                <th>
                    EXPENSE DESCRIPTION
                </th>
                <th>
                    COST OF EXPENSE
                </th>
                <th>
                    EXPENSE CATEGORY
                </th>
                <th>
                    DATE OF EXPENSE
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="container">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.NameOfExpense</td>
                    <td>
                        @{var toal = item.CostOfExpense.ToString("0,0.00"); }
                        @("\u20A6")@toal
                    </td>
                    <td>
                        @Categories.GetCategoryById(item.ExpenseCategoryId).Name
                    </td>
                    <td>
                        @item.DateOfExpense.ToString("dd/MM/yyyy HH:mm:ss")
                    </td>
                    <td>
                        <a asp-action="UpdateExpenses" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>|

                        <a id="deleteItem-@item.Id" data-target="#myModal-@item.Id" class="trigger-btn" data-toggle="modal" data-whatever="@item.Id"><i class="fa fa-trash"></i></a>

                        <!-- Modal HTML -->
                        <div id="myModal-@item.Id" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="icon-box">
                                            <i class="fas fa-times"></i>
                                        </div>
                                        <h4 class="modal-title">Are you sure?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete this Expense? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="DeleteExpenses" method="post">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td>
                    <strong>Total Amount</strong>
                </td>
                <td>
                    @{var total = Model.Sum(x => x.CostOfExpense).ToString("0,0.00"); }
                    <strong>@("\u20A6")@total</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
    @section Scripts
        {
        <script type="text/javascript">
            //$.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
            //$.fn.dataTable.moment("DD/MM/YYYY");
            //$.fn.dataTable.moment('HH:mm MMM D, YY');
            //$.fn.dataTable.moment('dddd, MMMM Do, YYYY');
            //$.fn.dataTable.moment('ll');
            $(document).ready(function () {
                $('#myTable').DataTable({
                    "columnDefs": [{
                        "targets": 4,

                        "render": function (data, type, row, meta) {
                            //debugger
                            return moment(data, 'DD/MM/YYYY HH:mm:ss A').format('L');
                        }
                    }],

                    dom: "Bfrtip",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: [
                        'excel', 'print', 'pdf'
                    ],

                    "aaSorting": [[4, "desc"]],
                    //"order": [[4, "desc"]],
                    "displayLength": 25
                });

                $('.buttons-copy, .buttons-pdf, .buttons-excel, .buttons-print').removeClass('btn-secondary').addClass('btn-yellow mb-2 mr-md-2').css({ "margin-right": "10px" });
            });

        </script>
    }
